* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

body, h1, h2, h3, h4, h5, h6, p, ul, li, span, a, img, blockquote, cite, table {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: normal;
    text-decoration: none;
}

body {
    background-color: var(--color-primary);
    font-family: var(--font-family);
    font-size: var(--font-16px);
}